h1
{
  color: blue;
    border: 2px solid grey;
  text-align: center;
}
div
{
  margin-left: auto;
    margin-right: auto;
    width: 6em; 
}
body
{
	background-image: url(ce_.jpg); 
	background-repeat: no-repeat;
	background-position: center;

}
p
{
	text-align: center;
	border-bottom: 2px solid red;
}
h2
{
	text-align: center;
}
p
{
	color: white
	text-align: center;
}
