h1
{
  color: blue;
    border: 2px solid grey;
  text-align: center;
}
.artistes
{
    margin-left: auto;
    margin-right: auto;
    width: 6em; 
}
.HTM5
{
    margin-left: 175px;
    width: 6em; 
    margin-bottom: 175px
}
h2
{
	text-align: center;
}
.text
{
	text-align: center;
}
body
{
	background-image: url(ce_.jpg); 
	background-repeat: no-repeat;
	background-position: center;

}

#art
{
	border-left: 4px solid black;
	text-align: left;
	color: rgb(0,243,243);
}
